* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: gray;
}
.navBarContainer {
	height: 9%;
	width: 75%;
	background-color: whitesmoke;
	display: flex;
	margin: 0 auto;
	justify-content: flex-end;
}
.homeLink {
	display: flex;
	justify-content: flex-start;
}

.restaurantInfoHeaders {
	height: 7%;
	margin: 0 auto;
	border: 1px solid red;
	width: 25%;
	display: flex;
	background-color: whitesmoke;
	
}
.restaurantInfoHeaders:hover {
	background-color: yellow;
	pointer-events: 
}
.restaurantInfo {
	color: indianred;
	font-family: 'Roboto Condensed', sans-serif;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#mapContainer {
	width: 50%;
	height: 50%;
	border: 1px solid red;
	margin: 0 auto;
}
#map {
	height: 100%;
	width: 100%;
}
.infoWindow {
	border: purple 1px solid;
}
